.homeLogin{
    background-color: #ffffff9a;
    padding: 40px;
    box-shadow: 1px 1px 3px gray;
    border-radius: 4px;
}
.colAlineacionVertiacl{    
    margin: 0 auto;
    display: grid;
    vertical-align: middle;
    height: 100%;
    align-content: center;
    justify-items: center;
    min-height: 55vmax;
    padding: 0% 15%;
}

.alineacionVertiacl{
    // min-height: 90vmax;
    position: fixed;
    z-index: 99;
    height: 100%;
}
.alineacionVertiacl .col{
    height: 100%;
}
.preview{
    background-color: #80808045;
    padding: 5%;
    // height: 400px;
}
.preview img{
    width: 100%;
}