#loading {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .9);
    z-index: 999999;
    text-align: center;
    top: 0;
}

#loading img{
    // animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite ;
    animation: pulsate 3s ease-out;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 1;
}

@keyframes pulsate {
    0% { 
        opacity: 0.1;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.2;
    }
}
#loading-content {
    top: 30%;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    width: 50%;
}

#loading-content h3 {
    color: white;
}

.mensajeLoading{
    display: grid;
    align-content: center;
    position: absolute;
    width: 100%;
    justify-items: center;
    height: 100%;
    color: white;
    font-size: 1.80rem;
}
.mensajeLoading img{
    width: 100%;
    max-width: 320px;
}
/*Tamaño del cubo*/
$size: 90px;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    width: 50%;
}

@keyframes rotate {
    0% {
        transform: rotateX(-37.5deg) rotateY(45deg);
    }

    50% {
        transform: rotateX(-37.5deg) rotateY(405deg);
    }

    100% {
        transform: rotateX(-37.5deg) rotateY(405deg);
    }
}

.cube,
.cube * {
    position: absolute;
    width: $size + 1;
    height: $size + 1;
}

.sides {
    animation: rotate 1s ease infinite;
    animation-delay: .1s;

    animation: rotate 2s ease infinite;
    animation-delay: 0.1s;
    transform-style: preserve-3d;
    transform: rotateX(-37.5deg) rotateY(45deg);
}

.cube .sides * {
    box-sizing: border-box;
    background-color: rgba(255, 10, 10, 0.5);
    background-color: rgba(222, 50, 50, 0.3);
    border: $size / 25 solid rgb(255, 255, 255);
}

@mixin side($name, $rotate, $i) {
    .#{$name} {
        animation: #{$name}-animation 3s ease infinite;
        animation-delay: $i * 100ms;
        transform: #{$rotate} translateZ($size);
        animation-fill-mode: forwards;
        transform-origin: 50% 50%;
    }


    @keyframes #{$name}-animation {
        0% {
            opacity: 1;
            transform: #{$rotate} translateZ($size)
        }

        20% {
            opacity: 1;
            transform: #{$rotate} translateZ($size / 2)
        }

        70% {
            opacity: 1;
            transform: #{$rotate} translateZ($size / 2)
        }

        90% {
            opacity: 1;
            transform: #{$rotate} translateZ($size)
        }

        100% {
            opacity: 1;
            transform: #{$rotate} translateZ($size)
        }
    }
}

.cube .sides {
    @include side("top", rotateX(90deg), 0);
    @include side("bottom", rotateX(-90deg), 0);
    @include side("front", rotateY(0deg), 1);
    @include side("back", rotateY(-180deg), 1);
    @include side("left", rotateY(-90deg), 1);
    @include side("right", rotateY(90deg), 1);
}

.text {
    margin-top: $size * 3;
    color: #EB0029;
    font-size: 1.5rem;
    width: 100%;
    font-weight: 600;
    text-align: center;
}

/*Primer version*/
$bgcolor : #EB0029;


.sk-folding-cube {
    margin: 40px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bgcolor;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {

    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {

    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}