body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  /* background-color: hsl(200deg 27.27% 93.53%); */
  /* background-color: #EBF0F2; */
  /* background-image: url('/img/cic-cd-explained.jpg'); */
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
}

*,
p,
a {
  font-family: "Roboto";
  color: #323E48;
  font-size: 15px;
}

.side-menu ul li:hover {
  background-color: #EBF0F2;
}

.side-menu ul li a {
  width: 100%;
  display: block;
}

.btn,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Gotham", Helvetica, Arial, sans-serif;
  color: black;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h2 {
  font-size: 25px;
}

h3 {
  font-weight: 500;
  color: #323E48;
  margin: 0px;
  font-size: 18px;
}

h5 {
  font-family: "Roboto";
  font-weight: 500;
  color: #5b6670;
  font-size: 20px;
  text-transform: uppercase;
}

/* Rojo Banorte */
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before {
  border-color: #eb0029;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
  background-color: #eb0029;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
  border: 2px solid #eb0029;
}

.red{
  background-color: #ec0029  !important;
}

.input-field {
  height: 50px;
  background-color: #f6f6f6;
  border-radius: 6px 6px 0px 0px;
  margin: 0;
  padding: 0 !important;
}

.input-field>label:not(.label-icon).active {
  transform: translateY(-14px) scale(1)
}

.input-field>label {
  text-indent: 20px;
  font-family: "Gotham";
  font-weight: 500;
  font-size: 17px;
  color: #323E48;
  width: auto !important;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #323E48;
}

.input-field>label.active {
  top: 20px;
  font-family: "Gotham";
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  color: #5B6670;
  text-indent: 20px;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default) {
  font-family: "Gotham";
  font-weight: 500;
  font-size: 15px;
  color: #323E48;
  height: 30px;
  margin-top: 20px;
  border-color: #5B6670;
  text-indent: 20px;
  cursor: pointer;
  margin-top: 0px;
  padding-top: 20px;

  z-index: 999;
  position: relative;
}
.helper-text{
  margin: -7px 0px 0px 0px;
  padding: 0px;
}

.select-wrapper input.select-dropdown:focus,
input.valid:not([type]),
input.valid:not([type]):focus,
input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default),
input.valid[type=password]:not(.browser-default):focus,
input.valid[type=email]:not(.browser-default),
input.valid[type=email]:not(.browser-default):focus,
input.valid[type=url]:not(.browser-default),
input.valid[type=url]:not(.browser-default):focus,
input.valid[type=time]:not(.browser-default),
input.valid[type=time]:not(.browser-default):focus,
input.valid[type=date]:not(.browser-default),
input.valid[type=date]:not(.browser-default):focus,
input.valid[type=datetime]:not(.browser-default),
input.valid[type=datetime]:not(.browser-default):focus,
input.valid[type=datetime-local]:not(.browser-default),
input.valid[type=datetime-local]:not(.browser-default):focus,
input.valid[type=tel]:not(.browser-default),
input.valid[type=tel]:not(.browser-default):focus,
input.valid[type=number]:not(.browser-default),
input.valid[type=number]:not(.browser-default):focus,
input.valid[type=search]:not(.browser-default),
input.valid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper.valid>input.select-dropdown,
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #5B6670;
  box-shadow: none;
}

.select-wrapper .caret {
  position: absolute;
  right: 0;
  top: 20px;
}

.select-wrapper input.select-dropdown {
  height: 30px;
  padding-top: 20px;
}

.dropdown-content li {
  min-height: auto;
}

.dropdown-content li>a,
.dropdown-content li>span {

  color: #5B6670;
  font-family: "Gotham";
  padding: 5px 20px 5px 20px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}

.dropdown-content li>span:hover {
  color: #323E48;
  font-weight: 500;
  font-style: normal;
}

body.keyboard-focused .select-dropdown.dropdown-content li:focus {
  background-color: #f6f6f6;
}

input:not([type]).invalid~.helper-text:after,
input:not([type]):focus.invalid~.helper-text:after,
input[type=text]:not(.browser-default).invalid~.helper-text:after,
input[type=text]:not(.browser-default):focus.invalid~.helper-text:after,
input[type=password]:not(.browser-default).invalid~.helper-text:after,
input[type=password]:not(.browser-default):focus.invalid~.helper-text:after,
input[type=email]:not(.browser-default).invalid~.helper-text:after,
input[type=email]:not(.browser-default):focus.invalid~.helper-text:after,
input[type=url]:not(.browser-default).invalid~.helper-text:after,
input[type=url]:not(.browser-default):focus.invalid~.helper-text:after,
input[type=time]:not(.browser-default).invalid~.helper-text:after,
input[type=time]:not(.browser-default):focus.invalid~.helper-text:after,
input[type=date]:not(.browser-default).invalid~.helper-text:after,
input[type=date]:not(.browser-default):focus.invalid~.helper-text:after,
input[type=datetime]:not(.browser-default).invalid~.helper-text:after,
input[type=datetime]:not(.browser-default):focus.invalid~.helper-text:after,
input[type=datetime-local]:not(.browser-default).invalid~.helper-text:after,
input[type=datetime-local]:not(.browser-default):focus.invalid~.helper-text:after,
input[type=tel]:not(.browser-default).invalid~.helper-text:after,
input[type=tel]:not(.browser-default):focus.invalid~.helper-text:after,
input[type=number]:not(.browser-default).invalid~.helper-text:after,
input[type=number]:not(.browser-default):focus.invalid~.helper-text:after,
input[type=search]:not(.browser-default).invalid~.helper-text:after,
input[type=search]:not(.browser-default):focus.invalid~.helper-text:after,
textarea.materialize-textarea.invalid~.helper-text:after,
textarea.materialize-textarea:focus.invalid~.helper-text:after,
.select-wrapper.invalid~.helper-text:after {
  font-size: 12px;
  color: #eb0029;
}

.btn {
  text-transform: capitalize;
  height: 45px;
  font-family: "Gotham";
  font-weight: 500;
  box-shadow: none;
  border-radius: 6px;
  color: white;
}

.btn.secundario {
  background-color: white;
  color: #323E48;
  border-color: #323E48;
  border: 1px solid;
  border-radius: 6px;
}

.btn.secundario:hover,
.btn.secundario:focus,
.btn.secundario:active {
  background-color: white;
  color: #eb0029;
  border-color: #eb0029;
}

.btn {
  background-color: #eb0029;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover,
.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
  background-color: #DB0026;
  box-shadow: none;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border-color: #eb0029;
  background-color: #eb0029;
}

[type="radio"]:not(:checked)+span,
[type="radio"]:checked+span {
  padding-left: 24px;
}

[type="checkbox"].filled-in:checked+span:not(.lever):before {
  border-top: 2px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

/*Select*/
.select-dropdown li.disabled {
  display: none;
}

.dropdown-content {
  top: 55px !important;
  background-color: #f6f6f6;
  box-shadow: none;
  border-radius: 6px;
  width: 100% !important;
}


/* width scroll*/
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f6f6f6;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #323E48;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #323E48;
}

/* Modal*/
.modal{
  background-color:white;
  border-radius: 8px;
}
.icon-close.modal-close {
  text-align: right;
  padding: 5px 10px;
}

/*Change text in autofill textbox*/
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f6f6f6 inset !important;
}

.input-text-area-field {
  background-color: #f6f6f6;
  border-radius: 6px 6px 0px 0px;
}

textarea {
  text-indent: 20px;
  font-family: "Gotham";
  font-weight: 500;
  font-size: 15px;
  color: #323E48;
  height: 120px;
  background-color: #f6f6f6;
  border-radius: 6px 6px 0px 0px;
  min-height: 65px;
  padding: 10px;
  max-width: 100%;
  min-width: 100%;
}

textarea::placeholder {
  text-indent: 20px;
  font-family: "Gotham";
  font-weight: 500;
  font-size: 15px;
  color: #d1d1d1;
}

.container , .container-central{
  /* margin-top: 70px; */
  /* background-color: #ffffffe6; */
  background-color: white;
  backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  /* border-radius: 10px; */
  /* box-shadow: 1px 1px 5px 0px gray; */
  /* padding: 20px; */

  /* position: fixed;
  max-width: 1080px;
  max-height: 80%;
  margin: 0 auto;
  left: 0;
  top: 70px;
  overflow: scroll;
  right: 0;  */
}
/*SI SE GUSTA FIXED POSITION CENTRAL; HABILITARLO*/
.container-central{
  /* position: fixed;
  height: 100%;
  overflow: scroll; */
}

.migaja {
  background-color: #EBF0F2;
  height: 54px;
}
.migaja p {
  color: #EB0029;
  color: #323E48;
  font-size: 14px;
  font-family: "Gotham";
  font-weight: bold;
}
.menu-container{
  padding: 10px 0px;
}
/*Perso*/
.question div {
  width: calc(100% - 50px);
  float: left;
  text-align: justify;
}

.row.ng-scope {
  margin: 0px 0px 8px 0px;
}

.switchdiv {
  width: 50px !important;
}
.switch label input[type=checkbox]:checked+.lever{
  background-color: #5B6670;
}
.switch label input[type=checkbox]:checked+.lever:after{
  background-color: #ec0029;
}

/* input:required:invalid {  color : green;} */

.banorte.dark, .banorte.dark div.modal {
  background: #323E48;
  height: 100%;
}
.banorte.dark  p,.banorte.dark a{
  color: white;
}
.banorte.dark div.modal,
.collapsible{
  border: none;
  box-shadow: none;
}
.collapsible-body{
  padding: 1rem;
}
.banorte.dark li .collapsible-header{
  background-color: rgb(10, 10, 10);
  background-color: #323E48;
}
.banorte.dark input,
.banorte.dark label{
  color: white;
  background: #323E48;
}

/** HEADER**/
.banorte>header {
  /* position: fixed; */
  width: 100%;
  z-index: 200;
  top: 0;
  margin: 0;
  padding: 0;
  height: 64px;
}

.banorte>header .header_top {
  width: 100%;
  height: 64px;
  background-color: #eb0029 !important;
  background-repeat: repeat-x;
  background-image: url("img/navigation.webp");
}

.banorte>header .header_top {
  padding-bottom: 7px;
  padding-top: 5px;
}

.banorte>header .layout {
  width: 100%;
  padding: 0 26px;
}

header .header_top {
  background-size: 43.5px 64px;
}

.banorte>header .header_top nav {
  height: inherit;
  width: 100%;
  text-align: right;
}

.banorte>header .columns2A {
  height: inherit;
  float: left;
  padding: 0;
  margin: 0;
  width: 270px;
  vertical-align: middle;

  /* movil */
  left: 10px;
  position: absolute;
}
.banorte>header .columns2A a {
  float: left;
}

.banorte>header .columns2A a:focus i {
  color: #d1d1d1;
}
.banorte>header .columns2A a i{
  color: white;
}


.banorte>header .header_top a.logo {
  display: block;
  height: 63px;
  width: 280px;
  background-size: 1000px 1200px;
  background-size: 1005px 1190px;
  float: left;
}

.banorte>header a.logo {
  background-position: -411.5px -718px;
}

.banorte>header .columns2B {
  float: right;
  /* padding: 1px 13px 0 0;
  margin-right: 26px; */

  list-style-type:none;
  display:flex;
  justify-content: center;

  position: absolute;
  right: 10px;
}

.banorte>header .columns2B li{
  display: inline-block;
  vertical-align: bottom;
  color:white;
  position: relative;
  height: 40px;
  line-height: 30px;
}
.banorte>header .columns2B li a  {
  color: white; 
  display:table-cell;
  vertical-align:middle;
  text-align: center;
  font-weight: bold;
}
.banorte>header .columns2B li a i {
  color: white;
  /* color: white;
  height: 20px;
  width: 20px;
  left: 0;
  position: absolute; */
}
.banorte>header .header_top nav {
  height: inherit;
  width: 100%;
  text-align: right;
}

.header_menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  width: 400px;
}



.banorte>header .header_top nav ul.header_menu li a,
.banorte>header .header_top nav ul.header_menu li a:hover,
.banorte header ul li a {
  /* color: white; */
}

span.badge.new{
  background-color: #EB0029;
}
.col.s8.risk p {
  font-size: 15px;
  margin: 0px !important;
  padding: 0px !important;
  letter-spacing: 0px;
  line-height: 23px;
  vertical-align: top;
}

.col.s8.risk p span i{
  font-size: 16px;
}

/* SLIDER */
iframe{
  display: block;
  height: calc(100vh - 100px);
  width: 100vw;
  border: none;
  background: lightyellow;
}
.carousel{
  margin: 0px;
  /* height:  calc(100vh - 100px); */

}




.bg-bubbles {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgb(0 0 0 / 15%);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}